@charset "UTF-8";

/*  body
--------------------------------*/
body{
    width: 100vw;
    color: #333333;
    background: #f4f4f4;
    font-family: "Futura", "游明朝体", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, Arial, メイリオ, Meiryo, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    /* animationの設定 */
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*  animation
--------------------------------*/
@keyframes fade-in{
    0%{
        opacity: 0;
        visibility: hidden;
        /* display: none; */
    }
    100%{
        opacity: 1;
        visibility: visible;
        /* display: block; */
    }
}
@keyframes nav-up{
    0%{
        transform: translateY(64px);
    }
    100%{
        transform: translateY(0);
    }
}
/************************
    JavaScriptで使用
************************/
@keyframes fade-out{
    0%{
        opacity: 1;
        visibility: visible;
        /* display: block; */
    }
    100%{
        opacity: 0;
        visibility: hidden;
        /* display: none; */
    }
}
.fade-in{
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-out{
    animation-name: fade-out;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/*  common
--------------------------------*/
*, *::before, *::after{
    box-sizing: border-box;
}
.second-ttl{
    font-size: 36px;
    text-align: center;
    font-family: "Futura"
    margin-bottom: 24px;
}
.sub-ttl{
    font-size: 16px;
    text-align: center;
    font-family: "游明朝体+36ポかな";
    margin-bottom: 64px;
}
.btn{
    width: 210px;
    height: 45px;
    margin: 0 auto;
}
a{
    color: #404040;
    text-decoration: none;
    font-family: "游明朝体+36ポかな";
}
.btn a{
    display: block;
    width: 210px;
    height: 45px;
    background: #ffffff;
    line-height: 45px;
    color: #707070;
    text-decoration: none;
    font-size: 16px;
    font-family: "Futura";
    text-align: center;

    transition: all 1s 0s ease-out;
}
.btn a:hover{
    background: #D68570;
    color: #ffffff;
}
.btn a i{
    transform: translate(14px, 0);
    transition: all 1s 0s ease-out;
}
.btn a:hover i{
    transform: translate(44px, 0);
}

/*  header
--------------------------------*/

/************************
    JavaScriptで使用
************************/
header{
    /* width: 100vw; */
    height: 83vh;
    /* background: url(../img/main.png) no-repeat center center;
    background-size: cover; */
    position: relative;
    /* animationの設定 */
    overflow: hidden;
}
header h1{
    width: 378px;
    height: 83px;
    color: #ffffff;
    font-size: 64px;
    /* background: #ffffff; */
    position: absolute;
    top: calc(50% - 41px);
    left: calc(50% - 189px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* animationの設定 */
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.allow{
    position: absolute;
    width: 15px;
    height: 300px;
    top: calc(30% - 7px);
    left: calc(30% - 220px);
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menubox{
    position: fixed;
    width: 131px;
    height: 365px;
    background-color: rgba(255,255,255,0.2);
    left: calc(83%);
    top: calc(15%);
    display: block;
    align-items: center;
}

.menu-list li a{
    color: #ffffff;
    font-size: 14px;
    font-family: "Futura";
}

.current-information{
    width: 100%;
    height: 17vh;
    background: rgba(255,255,255);
    /* animationの設定 */
    transform: translateY(130px);
    animation-name: nav-up;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.locationtruck{
    position: absolute;
    /* left: calc(50%); */
    left: calc(50% - 92px);
    margin:auto;
    bottom: calc(20%);
}
.information{
    position: absolute;
    color: #707070;
    left: calc(50% - 147px);
    bottom: calc(10% - -16px);
    font-family: "游明朝体+36ポかな";
    font-size: 18px;
}

/************************
    JavaScriptで使用
************************/
.slick-dots{
    bottom: 170px;
}


.container{
    width: 1140px;
    height: 64px;
    margin: 0 auto;
    display: flex;
}
h2{
    width: 143px;
    height: 143px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 8px; */
}
h2 img{
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list{
    width: 540px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.nav-list li a{
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 8px;
    font-size: 15px;
}
.nav-list li.current a{
    color: #cccccc;
    border-bottom: 2px solid #cccccc;
}
.nav-list li a:hover{
    color: #cccccc;
}
/************************
    JavaScriptで使用
************************/
.open{
    /* display: none; */
    visibility: hidden;
}

/*  main .work-area
--------------------------------*/
main > section{
    padding: 80px 0;
}
.work-block{
    display: flex;
    margin-bottom: 64px;
}
.work-block section{
    width: 40.964%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* JavaScriptで使用 */
    opacity: 0;
}
/* マウスホバー時に暗くする */
.work-block section::after{
    position: absolute;
    /* セレクタの領域を左右上下に最大まで広げる */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    /* h3タグより下にする */
    z-index: 1;
    transition: all 0.8s 0s ease-in-out;
}
.work-block section:hover::after{
    background: rgba(0,0,0,0.8);
}
.grapihc{
    background: url(../img/work01.png) no-repeat center center;
    background-size: cover;
    /************************
    JavaScriptで使用
    ************************/
    animation-delay: 0.5s;
}
.signage-vr{
    background: url(../img/work02.png) no-repeat center center;
    background-size: cover;
    /************************
    JavaScriptで使用
    ************************/
    animation-delay: 1s;
}
.ui-ux{
    background: url(../img/work03.png) no-repeat center center;
    background-size: cover;
    /************************
    JavaScriptで使用
    ************************/
    animation-delay: 1.5s;
}
.work-block h3{
    font-size: 36px;
    font-family: "Montserrat";
    color: #ffffff;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.16);
    position: relative;
    z-index: 10;
}

/************************
    JavaScriptで使用
************************/
/* モーダル */
#overlay{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}
#overlay .modal{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay .modal img{
    width: 100%;
    height: auto;
}

/*  main .news-area
--------------------------------*/
.brand-area{
    background: #e6e6e6;
}
.background{
    width: 100%;
    height: 70vh;
    display: flex;
}
.news-block{
    width: 31.578%;
    background: #ffffff;
}
.news-block figure img{
    width: 100%;
    height: auto;
}
.news-box{
    padding: 24px 16px;
}
.news-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.news-date time{
    font-size: 11px;
}
.news-date .news-category{
    width: 90px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    font-family: "Montserrat";
    color: #ffffff;
    border-radius: 2px;
}
.news-category-seminar{
    background: #17D8E6;
}
.news-category-media{
    background: #E69A17;
}
.news-category-recruit{
    background: #A0A0A0;
}

/*  footer
--------------------------------*/
footer{
    padding: 80px 0;
}
footer h1{
    margin: 0 auto 64px;
    width: 75px;
}
footer h1 img{
    width: 100%;
    height: auto;
}
footer nav{
    margin-bottom: 64px;
}
.footer-nav-global{
    display: flex;
    justify-content: space-between;
    width: 265px;
    margin: 0 auto 24px;
}
.footer-nav-global a{
    font-size: 14px;
}
.footer-nav-sns{
    display: flex;
    justify-content: space-between;
    width: 68px;
    margin: 0 auto;
}
footer address{
    text-align: center;
    margin-bottom: 64px;
}
footer address p:nth-of-type(1){
    margin-bottom: 24px;
}
footer small{
    display: block;
    text-align: center;
    font-size: 11px;
    font-family: "Montserrat";
}

/*------------------------------*/
/*  @media max 767px
/*------------------------------*/
@media (max-width: 767px){

    /*  header
    --------------------------------*/

    /************************
    JavaScriptで使用
    ************************/
    /* header{
        background: url(../img/sp/main@2x.png) no-repeat center center;
        background-size: cover;
    } */
    header nav{
        width: 100%;
        height: 100vh;
        /* display: none; */
        visibility: hidden;
        background: rgba(255,255,255,0.98);
        /* animationの設定 */
        transform: translateY(0);
        /* 追加 */
        padding: 80px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .container{
        width: 100%;
        height: 100%;
        display: block;
    }
    .container h2{
        padding-left: 0;
        margin-bottom: 40px;
    }
    .container h2 img{
        margin: 0 auto;
    }
    .nav-list{
        width: 100%;
        height: 100%;
        display: block;
        margin-left: auto;
    }
    .nav-list li a{
        padding: 0;
        text-align: center;
    }
    .nav-list li.current a{
        border-bottom: none;
    }

    /************************
    JavaScriptで使用
    ************************/
    .open{
        /* 追加 */
        visibility: visible;
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 10;
        width: 40px;
        height: 40px;
    }

    /*  main .work-area
    --------------------------------*/
    .work-block{
        display: block;
    }
    .work-block section{
        width: 100%;
        /* どのデバイスでも縦横比を同じにする */
        height: 100.533vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /************************
    JavaScriptで使用
    ************************/
    #overlay .modal{
        width: 80%;
    }

    /*  main .news-area
    --------------------------------*/
    .news-block-container{
        max-width: 100%;
        display: block;
    }
    .news-block{
        width: 91.733%;
        margin: 0 auto 32px;
    }
    .news-block:last-of-type{
        margin-bottom: 0;
    }
}